<div class="main">
  <div class="left-container">
    <div class="left-container-options">
      <div class="company-logo">
        <img src="assets/imgs/logo.png" width="60px" height="55px" />
        <figcaption>Ingoude Company</figcaption>
      </div>
      <div class="options-btn">
        <button type="button" class="dashboard" checked (click)="dashboardBtn()">
          <img src="assets/imgs/dashboard.png" width="25px" height="25px" />
          <figcaption>Dashboard</figcaption>
        </button>
        <button tpye="button" class="statistics" (click)="statisticsBtn()">
          <img src="assets/imgs/statistics.png" width="25px" height="25px" />
          <figcaption>Statistics</figcaption>
        </button>
        <button tye="button" class="report" (click)="reportBtn()">
          <img src="assets/imgs/report.png" width="25px" height="25px" />
          <figcaption>Report</figcaption>
        </button>
        <button tye="button" class="account" (click)="accountBtn()">
          <img src="assets/imgs/account.png" width="25px" height="25px" />
          <figcaption>Account</figcaption>
        </button>
        <button tye="button" class="notification" (click)="notificationBtn()">
          <img src="assets/imgs/notification.png" width="25px" height="25px" />
          <figcaption>Notification</figcaption>
        </button>
        <button tye="button" class="setting" (click)="settingBtn()">
          <img src="assets/imgs/setting.png" width="25px" height="25px" />
          <figcaption>Settings</figcaption>
        </button>
        <button tye="button" class="language" (click)="languageBtn()">
          <img src="assets/imgs/language.png" width="25px" height="25px" />
          <figcaption>Language</figcaption>
        </button>
      </div>
      <button tye="button" class="logout" (click)="logoutBtn()">
        <img src="assets/imgs/logout.png" width="25px" height="25px" />
        <figcaption>Logout</figcaption>
      </button>
    </div>
  </div>
  <div class="right-container">
    <div class="right-left-container">
      <div class="right-left-content">
        <div class="search-div">
          <div class="search-items">
            <div class="search-img-container">
              <img src="assets/imgs/search.png" class="img" width="15vw" height="15vh" />
            </div>
            <input type="search" class="search-bar" placeholder="Search here" />
          </div>
          <button type="button" class="search-btn" (click)="searchBtn()">Search</button>
        </div>
        <div class="add-div">
          <div class="my-card">{{ inputValues.card }}</div>
          <button type="button" class="add-cart" (click)="addCartBtn()">
            <img src="assets/imgs/add.png" width="25px" height="25px" />
            <figcaption>Add Cart</figcaption>
          </button>
        </div>
        <div class="debit-card">
          <div class="debit-card-top">
            <div class="debit-card-txt">{{ inputValues.debitCard }}</div>
            <div class="debit-card-industry">{{ inputValues.industry }}</div>
          </div>
          <div class="debit-card-middle">
            <div class="card-no-container">
              <div class="card-no">{{ inputValues.cardNo }}</div>
              <button type="button" class="copy-btn" (click)="copyBtn()">
                <img src="assets/imgs/copy.png" width="15px" height="15px" />
              </button>
            </div>
            <div class="amount">
              <p>{{ inputValues.amount }}</p>
            </div>
          </div>
          <div class="debit-card-bottom">
            <div class="card-name">
              <p>{{ inputValues.cardName }}</p>
            </div>
            <div class="card-type">
              <img
                src="assets/imgs/cardType.png"
                class="master-card-type-img"
                width="35px"
                height="35px"
              />
              <div class="master-card">{{ inputValues.cardType }}</div>
            </div>
          </div>
        </div>
        <div class="latest-activity-container">
          <div class="latest-activity-top">
          <div class="latest-activity-txt">{{ inputValues.latestActivityTop }} </div>
          <button type="button" class="latest-activity-view-more" (click)="latestActivityviewMoreBtn()">
            <figcaption>View More</figcaption>
            <img src="assets/imgs/view.png" class="latest-activity-view-more" width="25px" height="25px"/>
          </button>
          </div>
          <div class="latest-activity-bottom">
            <div class="latest-activity-received">
              <img src="assets/imgs/receivedprofile.jpeg" class="received-profile-img" width="65px" height="65px" >
              <div class="received-info">
              <div class="received-name">
                <p>{{ inputValues.receivedName }}</p>
              </div>
              <div class="received-timestamp">
                <p>{{ inputValues.receivedTimestamp }}</p>
              </div>
            </div>
            <div class="status-received">
              <p>{{ inputValues.statusReceived }}</p>
            </div>
            <div class="received-amt">
              <p>{{ inputValues.receivedAmt }}</p>
            </div>
            </div>
            <div class="latest-activity-payment">
              <img src="assets/imgs/paymentprofile.png" class="received-profile-img" width="65px" height="65px" >
              <div class="payment-info">
              <div class="payment-name">
                <p>{{ inputValues.paymentName }}</p>
              </div>
              <div class="payment-timestamp">
                <p>{{ inputValues.paymentTimestamp }}</p>
              </div>
            </div>
            <div class="status-payment">
              <p>{{ inputValues.paymentReceived }}</p>
            </div>
            <div class="payment-amt">
              <p>{{ inputValues.paymentAmt }}</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-right-container">
      <div class="right-right-content">
        <div class="profile">
          <div class="btn">
            <button type="button" class="bell-btn" (click)="profNotiBtn()">
              <img src="assets/imgs/bell.png" class="bell-btn" width="25px" height="25px"/>
            </button>
            <button type="button" class="msg-btn" (click)="msgBtn()">
              <img src="assets/imgs/msg.png" width="25px" height="25px" />
            </button>
          </div>
          <div class="profile-info">
            <div class="profile-name">
              <div>{{ inputValues.profileName }}</div>
            </div>
            <div class="profile-post">
              <div>{{ inputValues.profilePost }}</div>
            </div>
          </div>
          <img src="assets/imgs/profile.jpeg" class="profile-img" width="80vw" height="73vh"/>
        </div>
        <div class="report-container">
          <button type="button" class="download-report" (click)="downloadReportBtn()">
            <img src="assets/imgs/download.png" width="25px" height="25px" />
            <figcaption>Download Report</figcaption>
          </button>
        </div>
        <!-- <div class="flip-estmt-amt-container" [class.flipped]="isFlipped"> [@flipState]="isFlipped ? 'back' : 'front'"-->
        <div class="estmt-amt-container" [ngClass]="{'estmt-amt-container': !isFlipped, 'back-content': isFlipped}" >
          <div class="front-content" >
          <div class="estmt-amt-txt">
            <div>{{ inputValues.estmtAmtTxt }}</div>
          </div>
          <div class="estmt-amt">
            <div>{{ inputValues.estmtAmt }}</div>
            <button type="button" class="view-more" (click)="etmtAmtViewMoreBTn()" >
              <figcaption>View More</figcaption>
              <img src="assets/imgs/view.svg" width="25px" height="25px" />
            </button>
          </div>
          </div>
        <!--  <div class="back-content" [ngClass]="{'back-content': isFlipped}>
            <div class="estmt-amt-txt">
              <div>{{ inputValues.estmtAmtTxt }}</div>
            </div>
            <div class="estmt-amt">
              <div>{{ inputValues.estmtAmt }}</div>
              <button type="button" class="view-more" (click)="etmtAmtViewMoreBTn()">
                <figcaption>View More</figcaption>
                <img src="assets/imgs/view.svg" width="25px" height="25px" />
              </button>
            </div>
          </div> -->
      </div>
        <div class="spending-stats-container">
          <div class="spending-stats-txt">
            <div>{{ inputValues.spendingStats }}</div>
          </div>
          <div class="daily-trans-txt">
            <div>{{ inputValues.dailyTrans }}</div>
          </div>
          <div class="progress-bar-container">
            <div class="progress-bar">
              <mat-progress-bar mode="determinate" [value]="(inputValues.progressValue)"></mat-progress-bar>
            </div>
            <div class="progress-bar-values">
              <div class="percent">{{ inputValues.progressValue }} %</div>
              <!-- {{ inputValues.percent }} -->
              <div class="limit">{{ inputValues.limitVal }}</div>
            </div>
          </div>
          <div class="spendings-txt">
            <div class="spendings-txt-val">{{ inputValues.spendings }}</div>
          </div>
        </div>
        <div class="send-again-container">
          <div class="send-again-top">
            <p>{{ inputValues.sendAgain }}</p>
            <button type="button" class="latest-activity-view-more" (click)="sndAgainViewMoreBTn()">
              <figcaption>View More</figcaption>
              <img src="assets/imgs/view.png" class="latest-activity-view-more" width="25px" height="25px"/>
            </button>
          </div>
          <div class="send-again-bottom">
            <div class="send-again-profile1">
              <img src="assets/imgs/send-again-profile1-img.jpg" class="send-again-profile1-img" width="65px" height="65px"/>
              <div class="send-again-info">
                <div class="send-again-name">
                  <div>{{ inputValues.sendAgainProf1 }}</div>
                </div>
                <div class="send-again-post">
                  <div>{{ inputValues.profilePost }}</div>
                </div>
              </div>
            </div>
            <div class="send-again-profile2">
              <img src="assets/imgs/send-again-profile2-img.jpeg" class="send-again-profile2-img" width="65px" height="65px"/>
              <div class="send-again-info">
                <div class="send-again-name">
                  <div>{{ inputValues.sendAgainProf2 }}</div>
                </div>
                <div class="send-again-post">
                  <div>{{ inputValues.profilePost }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
